.buttonDiv {
    margin: auto;
    position: absolute;
    height: 100px;
    width: 200px;
    top: 50%;
    left: 50%;
    visibility: visible;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.demoDiv {
    margin: auto;
    width: 500px;
    height: 200px;
    position: relative;
    border: 5px outset black;
    background-color: rgb(224, 231, 233);
    text-align: center;
}

h2.center {
    text-align: center;
}

.dragAndDropDiv {
    margin: auto;
    width: 700px;
    height: 560px;
    position: relative;
    border: 5px outset black;
    background-color: rgb(224, 231, 233);
    text-align: center;
}

#div1 {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #aaaaaa;
}